*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont img{
    margin-bottom: 30px;
}

h1{
    font-size: 24px;
    font-weight: 700;
}


   .title{
    background-color: #CE0033;
    text-align: center;
    color: white;
    padding-block: 5px;
}
   .container{
        width: 400px;
        height: 450px;
        background-color: white;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       }

       input{
        width: 80%;
        height: 30px;
        margin-top: 5px;
        background-color: #a9927d;
        border: none;
        padding-left: 10px;
        color: white;
    }
    input::placeholder{
        color: white;
    }
    .secInput{
        margin-left: 40px;
    }
    .secInput div{
        margin-bottom: 20px;
    }
    .inputData{
        margin-bottom: 10px;
    }
    .btn{
        display: flex;
        justify-content: center;
        
    }
    button{
        font-size: 24px;
        font-weight: 700;
        width: 50%;
        border: none;
        border-radius: 10px;
        padding: 4px 8px;
        background-color:  #CE0033;
        color: white;
        cursor: pointer;
    }
    .toPageLogin{
        display: flex;
    }
    .toPageLogin p{
        margin-right: 10px;
    }
    .toPageLogin a{
        text-decoration: none;
    }
    .errEmail ,.errName , .errPassword{
        display: none;
        color: red;
        margin-top: 10px;
    }

    @media screen and (max-height: 600px){
        .cont{
            height: 90%;
        }
    }
    
    @media screen and (max-width: 600px){
        .cont{
           width: 95%;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
        }
        .container{
            width: 100%;
        }
    }